.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #516e92, #20aed0, #fefefb)
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.profile-form-container {
  position: relative;
  flex-direction: column;
  display:grid;
  height: flex;
  width:500px;
  background-color: #ffffff33;
  grid-gap: 5px;
  border-color: #0d0f11;
  border-radius: 2.5%;

}

.profile-container {
  position: relative;
  flex-direction: column;
  display:grid;
  height: flex;
  width:700px;
  background-color: #ffffff33;
  grid-gap: 5px;
  border-color: #0d0f11;
  border-radius: 2.5%;

}

.auth-form-container {
  padding: 5rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: .5rem;
}

label {
  text-align: left;
  padding: 0.25 rem 0;
}

input {
  margin: .5 rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  margin-top: 8px;
  border-radius: 10px;
  cursor: pointer;
  color: #20aed0;
  width: 100%;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.pswd-help-text {
  background: none;
  color: white;
  font-size: 12px;
}

.errorMSG {
  color: red;
}

.table-fq-history {
  border: 2px solid white;
  width: 800px;
  height: 200px;
}

.table-fq-hist-title {
  border-bottom: 1px solid white;
}

.table-fq-hist-val {
  text-align: center;
}

.table-fq-hist-val-row {
  border-bottom: 1px solid white;
}

.quote-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0069d9;
}

.price-per-gallon-container {
  display: flex;
  align-items: center;
}

.price-per-gallon-label {
  margin-left: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}